#nav-bar{
  position: fixed;
  top: 0;
  height: 80px;
  padding: 0 2em; 
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  z-index: 1;
} 
#nav-bar .logo{
    height: 80px;
    width: 80px;
    margin-right: 10px;
    display: inline-block;
    float: left;
  }
#nav-bar .header{
    display: inline-block;
    font-size: 2em;
    height: 80px;
    line-height: 80px;
  }
#nav-bar #compose{
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  border: none;
  background-color: #4AB3F4;
  padding: 6px 16px;
  color: #fff;
  border-radius: 100px;
}
#nav-bar #compose:hover{
  background-color: #1DA1F2;
}