*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }
  html body {
    margin: 0;
    color: #244751;
    background-color: #e6ecf0; }
    html body .container {
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
      padding: 140px 0; }
      html body .container .new-tweet {
        border-top: 1px solid #e6ecf0;
        border-bottom: 1px solid #e6ecf0;
        padding: 10px;
        margin-bottom: 150px;
        background-color: #e8f5fe;
        display: none; }
        html body .container .new-tweet h2 {
          margin: 0; }
        html body .container .new-tweet form {
          margin-top: 20px; }
          html body .container .new-tweet form textarea {
            width: 100%;
            padding: 5px;
            border: 2px solid #a4d9f9;
            border-radius: 5px; }
          html body .container .new-tweet form #click {
            border: none;
            background-color: #4AB3F4;
            color: #fff;
            border-radius: 15px;
            margin-top: 7px;
            height: 30px;
            width: 60px; }
          html body .container .new-tweet form .counter {
            float: right;
            font-style: italic;
            margin-top: 12px;
            color: #6a7c8b; }
      html body .container .tweet {
        border-top: 1px solid #e6ecf0;
        border-bottom: 1px solid #e6ecf0;
        margin-bottom: 50px; }
        html body .container .tweet:hover .icons {
          display: block; }
        html body .container .tweet header {
          padding: 10px;
          height: 80px; }
          html body .container .tweet header .avatar {
            border-radius: 50%;
            float: left;
            margin-right: 10px;
            height: 60px; }
          html body .container .tweet header p {
            display: block;
            line-height: 60px;
            margin: 0; }
          html body .container .tweet header .name {
            float: left;
            font-size: 14px;
            font-weight: bold; }
          html body .container .tweet header .handle {
            float: right;
            color: #657786;
            font-size: 14px;
            font-weight: normal; }
        html body .container .tweet .content {
          border: 1px solid #e6ecf0;
          border-radius: 5px;
          margin: 0 10px 0 80px;
          padding: 10px;
          position: relative; }
          html body .container .tweet .content div {
            margin: 0;
            width: 100%;
            word-wrap: break-word; }
        html body .container .tweet footer {
          height: 50px;
          padding: 0 10px;
          position: relative; }
          html body .container .tweet footer .time {
            line-height: 50px;
            margin: 0 0 0 70px;
            float: left;
            color: #657786;
            font-size: 14px;
            font-weight: normal; }
          html body .container .tweet footer .icons {
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%); }
            html body .container .tweet footer .icons div {
              display: inline-block;
              margin: 0 15px; }
            html body .container .tweet footer .icons .countLike {
              margin: 2px; }

/*# sourceMappingURL=style.css.map */
